PROJECT_NAME="test-thirty-third"
PROJECT_SLUG=test-thirty-third
GITHUB_REPOSITORY=test-thirty-third
LINEAR_PROJECT_KEY=TEST_THIRTY_THIRD
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
